# Database
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DBNAME"

AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

RESEND_API_KEY=

# Email verification (set to "false" to disable email verification)
ENABLE_EMAIL_VERIFICATION=true

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=